body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fc5c7d;
  background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d);
  background: linear-gradient(to right, #6a82fb, #fc5c7d);

  background-position: center;
  background-size: cover;
  min-height: 700px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 700px;
}
