div.input-form {
  max-width: 500px;
  text-align: center;
}

div.input-form Form {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  border-radius: 5px;
  min-width: 400px;
}

.input-form label {
  display: block;
  text-align: left;
}

.input-form label input {
  display: block;
  margin-top: 1rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px dotted grey;
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
}
